@import "../common.scss";

.container {
  background-color: $mainColor;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  > .limiter {
    @include limiter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: no-repeat url("../assets/images/s01/background.png") center;
    background-size: 100%;

    > h2 {
      color: #121212;
      font-size: 4rem;
      text-align: center;
      font-weight: 700;
      > span {
        display: block;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    > .image {
      width: 100%;
      max-width: 940px;
      min-height: 550px;
      background: no-repeat url("../assets/images/s01/main.png") center;
      background-size: 100%;

      @include mobile {
        background-image: url("../assets/images/s01/main_mobile.png");
      }
    }
    > a {
      background-color: #121212;
      color: white;
      font-size: 1.5rem;
      padding: 1rem 4rem;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -4rem;
    }
  }
}
